.Main{
    
  position:"relative";
  top:50px;
  
   width:100%;
   margin-left:400px;
}


/*Filtered Data*/

.Filtered{
/* Gray · 10% */
height:100px;
width:180px;
left:50px;
padding-left:10px;
padding-top: 10px;
background: #ecedee;
border-radius: 16px;
text-align: left;
font-family: "Quicksand-Medium";
font-size: 20px;
position:absolute;

}
.filter{
font-family: "Quicksand-Medium";
font-style: normal;
font-size: 48px;
color: #855CF8;
font-weight: 500;
line-height: 56px;
display: flex;
text-align: left;

    
}
/*High Exception*/
.HighException{
/* Gray · 10% */
height:100px;
width:180px;
left:280px;
padding-left:10px;
padding-top: 10px;
background: #ecedee;
border-radius: 16px;
text-align: left;
font-family: "Quicksand-Medium";
font-size: 20px;
position:absolute;
}
.highexception{
font-family: "Quicksand-Medium";
font-style: normal;
font-size: 48px;
font-weight: 500;
line-height: 56px;
display: flex;
text-align: left;
color: #E289F2;

}

/*Low Exception*/

.LowException{
/* Gray · 10% */
height:100px;
width:180px;
left:510px;
padding-left:10px;
padding-top: 10px;
background: #ecedee;
border-radius: 16px;
text-align: left;
font-family: "Quicksand-Medium";
font-size: 20px;
position:absolute;
}
.lowexception{
font-family: "Quicksand-Medium";
font-style: normal;
font-size: 48px;
font-weight: 500;
line-height: 56px;
display: flex;
text-align: left;
color: #B085FF;        
}

/*Processed*/
.Processed{
 /* Gray · 10% */
/* Gray · 10% */
height:100px;
width:180px;
left:740px;
padding-left:10px;
padding-top: 10px;
background: #ecedee;
border-radius: 16px;
text-align: left;
font-family: "Quicksand-Medium";
font-size: 20px;
position:absolute;
}
.processed{
font-family: "Quicksand-Medium";
font-style: normal;
font-size: 48px;
font-weight: 500;
line-height: 56px;
display: flex;
text-align: left;
color: #855CF8;
     
}

.Row{
    margin-bottom:200px;
}


