table{
    width: 100%;
    align-items: center;
    border:none;  
    text-align: center;
    border-collapse: collapse;
    margin-top: 100px;
    background: #ffffff;
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    
}

th {                             
    text-align: center;                 
    font-weight: bold;
    font-size: 15px;
    background-color: #252733;
    color: whitesmoke;
    
 }  

input {
    width:50px;
    /* display: inline-block; */
    align-items: center;
    float:left;
  }
                 
table tr:nth-child(even) {            
        background-color: #eee;     }
     
table tr:nth-child(odd) {            
    background-color:#fff;      }
