.total{

  
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    
    width:100px;
    height:50px;
    
    align-items: center;
    letter-spacing: 0.1px;
    
    color: #F5366F;
    }
    
    .totalText{
    
    left:50px;
    right: 30px;
    top:-55px;
    
    /* 20 sp • H6 Quicksand */
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */
    
    
    align-items: center;
    text-align: center;
    letter-spacing: 0.15px;
    
    /* Blue Base */
    
    color: #367BF5;
    
    }