.total{

  
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    
    width:100px;
    height:40px;
    
    align-items: center;
    letter-spacing: 0.1px;
    left: 30px;
    top:10px;
    color: #F5366F;
    }
    
    .totalText{
    
    left:50px;
    right: 30px;
    top:-25px;
    
    /* 20 sp • H6 Quicksand */
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */
    
    
    align-items: center;
    text-align: center;
    letter-spacing: 0.15px;
    
    /* Blue Base */
    
    color: #367BF5;
    
    }

    .totalNo{
    
            
        margin-top: 10px;
        margin-bottom:52px;
       
    
    /* White Base */
    height:60px;
    width:270px;
    background: #FFFFFF;
    /* Shadow Blue · 16dp */
    
    box-shadow: 0px 16px 24px rgba(54, 123, 245, 0.16), 0px 6px 12px rgba(54, 123, 245, 0.16);
    border-radius: 99px;
    
    }
    