.Dashboard{
    width:100%;
    overflow:auto;
   
    height:100%;
    position:relative;
    left: 320px;
}
.TotalCount{
    position:fixed;
    left:330px;
    
    
}
.Bar{
    position:fixed;
    top:200px;
    left:320px;
    width:40%;
    height:55%;
    padding: 30px 30px 30px 10px;
    box-shadow: 0 3px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius :20px;
    
}

.Pie{
    position:fixed;
    top:200px;
    left:970px;
    width:30%;
    height:55%;
    padding: 100px 10px 10px 10px;
    box-shadow: 0 3px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius :20px;
}

.Counter{
    position:fixed;
    top:660px;
    left:400px;
}

